
    <main>
      <h1>About Carbicle</h1>
      <div class="about">
        <p>
          <i>"Carbicle"</i> This site is just for exercice in <a
            href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
          <a href="https://softuni.bg/">Software University</a>.</p>
      </div>
    </main>
